/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable plugin/no-unsupported-browser-features */

/* || Typography */

body {
  color: $text;
  font-family: $font-stack;
  font-style: normal;
  font-stretch: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

h1 {
	font-weight: 600;
	font-size: 32px;
	margin: 15px 0 0 0;
  color: $headings;
}
h2 {
	font-weight: 600;
	font-size: 24px;
	margin: 0 0 0 0;
  color: $headings;
}

h2::before {
  content: "/";
}

p {
	font-weight: 300;
	font-size: 20px;
	line-height: 50px;
	margin: 10px 0 20px 0;
	color: white;
}

footer p {
	font-size: 14px;
	line-height: 1.15;
}

.text {
	line-height: 30px;
}

.code {
	font-family: $monospace-font-stack;
	font-size: 16px;
	margin: 0;
}

#special-text {
	color: $special-text;
}

.color-contrast {
	color: $color-contrast-text;
}
