/* stylelint-disable a11y/media-prefers-color-scheme -- Disable a11y/media-prefers-color-scheme for this component as this component should look the same no matter the theme. */

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.terminal-command-container {
  pre {
    color: var.$white;
    display: inline-block;

    code {
      background: func.get-color(
        var.$themes,
        defaults,
        terminal-command-background
      );
      border-radius: 0.2rem;
      box-decoration-break: clone;
      padding: 0.3rem 0.4rem 0.2rem;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
}

.terminal-command {
  &::before {
    background-color: inherit;
    content: '$ ';
  }
}

#terminal-command-text {
  background-color: inherit;

  &::selection {
    background: func.get-color(
      var.$themes,
      defaults,
      terminal-command-interact-color
    );
  }
}

.copy-clipboard-button {
  background-color: transparent;
  border: 0;
  color: func.get-color(var.$themes, dark, button-text-color);
  cursor: pointer;
  display: inline-block;
  user-select: none;

  &:hover,
  &:focus {
    color: func.get-color(
      var.$themes,
      defaults,
      terminal-command-interact-color
    );
  }
}
