@use 'functions' as func;

/* || Colours

Resource: https://www.colorhexa.com/

*/

$white: hsl(0deg 0% 100%);
$themes: (
  light: (
    background-color: invert(hsl(220deg 16% 22%)),
    text-color: invert($white),
    text-heading-color: invert(hsl(218deg 27% 92%)),
    text-special-color: invert(hsl(164deg 95% 43%)),
    text-contrast-variant-color: invert(hsl(208deg 91% 75%)),
    link-color: invert($white),
    link-decoration-color: invert(hsl(220deg 16% 36%)),
    link-decoration-color-interact: invert($white),
    terminal-command-background: hsl(0deg 0% 11%),
    terminal-command-interact-color: hsl(35deg 100% 50%),
    copy-button-text-color: invert($white),
  ),
  dark: (
    background-color: hsl(220deg 16% 22%),
    text-color: $white,
    text-heading-color: hsl(218deg 27% 92%),
    text-special-color: hsl(164deg 95% 43%),
    text-contrast-variant-color: hsl(208deg 91% 75%),
    link-color: $white,
    link-decoration-color: hsl(220deg 16% 36%),
    link-decoration-color-interact: $white,
    terminal-command-background: hsl(0deg 0% 11%),
    terminal-command-interact-color: hsl(35deg 100% 50%),
    copy-button-text-color: $white,
  ),
);
$link-colors: (
  blue: (
    dark-moderate: hsl(213deg 32% 52%),
    desaturated: hsl(210deg 34% 63%),
  ),
  cyan: (
    desaturated: hsl(193deg 43% 67%),
    grayish: hsl(179deg 25% 65%),
  ),
  green: (
    desaturated: hsl(92deg 28% 65%),
  ),
  orange: (
    soft: hsl(40deg 71% 73%),
  ),
  magenta: (
    grayish: hsl(311deg 20% 63%),
  ),
  red: (
    desaturated-1: hsl(14deg 51% 63%),
    desaturated-2: hsl(354deg 42% 56%),
  ),
  yellow: (
    light: hsl(48deg 100% 76%),
  ),
);

/* || Fonts */

$font-stack: (
  'Source Sans Pro',
  -apple-system,
  blinkmacsystemfont,
  'Seoge UI',
  'Helvetica',
  'Helvetica Neue',
  'Ubuntu',
  'Roboto',
  'Oxygen',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Arial',
  'Open Sans',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
);
$monospace-font-stack: (
  'Monaco',
  'Menlo',
  'Consolas',
  'Liberation Mono',
  'Lucida Console',
  monospace
);

/* || Font Sizes */

$text-font-size: 20px;
$h1-font-size: (1.6 * $text-font-size);
$h2-font-size: (1.2 * $text-font-size);
$monospace-text-font-size: 16px;
$footer-text-size: (0.8 * $text-font-size);

/* || Positioning */

$main-footer-distance: 60px;
