/* stylelint-disable a11y/media-prefers-color-scheme -- Disable a11y/media-prefers-color-scheme for this theme. */

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

/* || Default: Dark Theme - Fallback */

*,
*::before,
*::after {
  background-color: func.get-color(var.$themes, dark, background-color);
}

body,
p {
  color: func.get-color(var.$themes, dark, text-color);
}

h1,
h2 {
  color: func.get-color(var.$themes, dark, text-heading-color);
}

.text--special {
  color: func.get-color(var.$themes, dark, text-special-color);
}

.text--contrast {
  color: func.get-color(var.$themes, dark, text-contrast-variant-color);
}

a,
a:visited {
  color: func.get-color(var.$themes, dark, link-color);
  text-decoration-color: func.get-color(
    var.$themes,
    dark,
    link-decoration-color
  );
}

a:hover,
a:focus {
  text-decoration-color: func.get-color(
    var.$themes,
    dark,
    link-decoration-color-interact
  );
}

$links: (
  '1' func.get-color(var.$link-colors, magenta, grayish),
  '2' func.get-color(var.$link-colors, cyan, grayish),
  '3' func.get-color(var.$link-colors, red, desaturated-1),
  '4' func.get-color(var.$link-colors, green, desaturated),
  '5' func.get-color(var.$link-colors, orange, soft),
  '6' func.get-color(var.$link-colors, red, desaturated-2),
  '7' func.get-color(var.$link-colors, blue, dark-moderate),
  '8' func.get-color(var.$link-colors, blue, desaturated),
  '9' func.get-color(var.$link-colors, cyan, desatured),
  '10' func.get-color(var.$link-colors, yellow, light)
);

@each $name, $color in $links {
  .link-#{$name}:hover,
  .link-#{$name}:focus {
    text-decoration-color: $color;
  }
}
