@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

/* || Light Theme */

@media screen and (prefers-color-scheme: light) {
  *,
  *::before,
  *::after {
    background-color: func.get-color(var.$themes, light, background-color);
  }

  body,
  p {
    color: func.get-color(var.$themes, light, text-color);
  }

  h1,
  h2 {
    color: func.get-color(var.$themes, light, text-heading-color);
  }

  .text--special {
    color: func.get-color(var.$themes, light, text-special-color);
  }

  .text--contrast {
    color: func.get-color(var.$themes, light, text-contrast-variant-color);
  }

  a,
  a:visited {
    color: func.get-color(var.$themes, light, link-color);
    text-decoration-color: func.get-color(
      var.$themes,
      light,
      link-decoration-color
    );
  }

  a:hover,
  a:focus {
    text-decoration-color: func.get-color(
      var.$themes,
      light,
      link-decoration-color-interact
    );
  }
}
