/* || Fonts */
$font-stack: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Seoge UI", Helvetica, "Helvetica Neue", Ubuntu, Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", noto, Arial, "Open Sans", sans-serif;
$monospace-font-stack: Monaco, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

/* || Colours */
// Text
$headings: #E5E9F0;
$text: white;
$special-text: #06d6a0;
$color-contrast-text: #85c2f9;

// Background
$background: #2E3440;
$code-background: #1b1b1b;
