code {
	background: $code-background;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .3rem .4rem .2rem;
  border-radius: .2rem;
	white-space: nowrap;
}

#card {
	display: inline-block;
	color: $text;
}

.command::before {
	content: "$ "
}

.command::selection {
  background: #ff9500;
}

.copyBtn {
  cursor: pointer;
	border: none;
	background-color: transparent;
	color: #E5E9F0;
	display: inline-block;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.copyBtn:hover {
	color: #ff9500;
}
